<div class="clearfix">
  <div class="pull-left list-view-sort-wrapper">
    <md-select ng-model="config.sortBy">
      <md-select-label class="prevent-select">{{config.sortBy.title}}</md-select-label>
      <md-option ng-value="item" ng-repeat="item in config.selectFieldList">{{item.title}}</md-option>
    </md-select>

    <i class="fa fa-sort-alpha-asc prevent-select fa"
       ng-show="config.sortAsc"
       ng-click="config.sortAsc = !config.sortAsc">
    </i>
    <i class="fa fa-sort-alpha-desc prevent-select fa"
       ng-show="!config.sortAsc"
       ng-click="config.sortAsc = !config.sortAsc">
    </i>
  </div>
  <div class="pull-right list-view-search-wrapper">
    <input class="form-control" ng-model="config.searchString"/>
  </div>
</div>
